html {
  background-color:#011627;
}

body {
  margin: 26px;
  /*color: #440BD4;*/
  color: #ADDB67;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  border: 1px solid #C792EA;
  margin: 20px 0;
}

a {
  color:#FF5874;
}

a:visited,
a:hover,
a:active {
  color: #D6DEEB;
}

button {
  background-color: #7FDBCA;
  border: none;
}

.story-item {
  margin: 5px 0;
}

.story-author {
  color: #C792EA;
}

.story-points {
  color:#82AAEB;
}

.story-link,
.story-author,
.story-comments,
.story-points,
.story-dismiss {
  margin: 0 5px;
}