html {
  background-color: black;
}

body {
  margin: 26px;
  /*color: #440BD4;*/
  color: #B8FB3C;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  border: 1px solid #440BD4;
  margin: 20px 0;
}

a {
  color: #FF2079;
}

a:visited,
a:hover,
a:active {
  color: #E92EFB;
}

button {
  background-color: #E92EFB;
  border: 1px solid #FF2079;
}

.story-item {
  margin: 5px 0;
}

.story-link,
.story-author,
.story-comments,
.story-points,
.story-dismiss {
  margin: 0 5px;
}